[option1]
TRIM_LEFT=0
TRIM_TOP=227
IMAGE_WIDTH=1080
IMAGE_HEIGHT=1706

[option2]
TRIM_LEFT=0
TRIM_TOP=285
IMAGE_WIDTH=1080
IMAGE_HEIGHT=1536

[option3]
TRIM_LEFT=156
TRIM_TOP=452
IMAGE_WIDTH=1149
IMAGE_HEIGHT=1633

[option4]
TRIM_LEFT=158
TRIM_TOP=451
IMAGE_WIDTH=1143
IMAGE_HEIGHT=1635

[option5]
TRIM_LEFT=156
TRIM_TOP=361
IMAGE_WIDTH=1149
IMAGE_HEIGHT=1815

[option6]
TRIM_LEFT=0
TRIM_TOP=0
IMAGE_WIDTH=580
IMAGE_HEIGHT=917
